[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RImagePalette"]
	path = RImagePalette
	url = https://github.com/joelcarlson/rimagepalette
